*{
    inset: 0;
    background-color:bisque;
}
h1{
    font-size: 60px;
    text-align: center;
    border-color: black;
    margin: 50px;
    color: blue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font: weight 500px; 
}
.container{
    width: 750px;
    border: 10px solid green;
    padding: 150px;
    margin: 10px;
    margin-left: 400px;
    height: 400px;
}
.display{
    width: 900px;
    background-color: white;
    border: 10px solid #3f770b;
    height: 20px;
    padding: 65px;
    display: inline-block;
    vertical-align: top;
    margin-top: -20%;
    margin-left: -150px;
    color: black;
}
.b1{
    width: 140px;
    height: 80px;
    margin-left: 10px;
    
    
}
.b2{
    width: 140px;
    height: 80px;
    margin-left: 30px
}
.b3{
    width: 140px;
    height: 80px;
    margin-left: 30px
}
.r3{
    margin-left: -100px;
    margin-top: 100px;

}
.r2{
    margin-left: -150px;
    margin-top: 90px;

}.r1{
    margin-left: -150px;
    margin-top: 50px;
}
.b6{
    width: 140px;
    height: 80px;
    margin-left: 30px
}
.b5{
    width: 140px;
    height: 80px;
    margin-left: 30px
}
.b4{
    width: 140px;
    height: 80px;
    margin-left: 60px
}
.b9{
    width: 140px;
    height: 80px;
    margin-left: 30px
}
.b8{
    width: 140px;
    height: 80px;
    margin-left: 30px
}
.b7{
    width: 140px;
    height: 80px;
    margin-left: 60px
}
.add{
    margin-left: 30px ;
    width: 140px;
    height: 80px;
}
.clear{
    margin-left: 30px;
    width: 140px;
    height: 80px;
}
.sub{
    width: 140px;
    height: 80px;
    margin-left: 30px;
}
.division{
    width: 140px;
    height: 80px;
    margin-left: 30px;
} 
.multi{
    width: 140px;
    height: 80px;
    margin-left: 30px;
}
.equal{
    width: 140px;
    height: 80px;
    margin-left: 30px;
}
.b1,.b2,.b3,.b4,.b5,.b6,.b7,.b8,.b9{
    background-color: rgb(93, 93, 163);
    font-size: 50px;
    border-color: black;
    border-style:groove;
    border-width: 2px;
    border-radius: 25px;
}
.add,.sub,.division,.equal,.multi{
    background-color: grey;
    font-size: 50px;
    border-radius: 25px;
}
.clear{
    background-color: red;
    font-size: 50px;
    border-radius: 25px;
}
div{
    background-color: lightgreen;
}
.disp{
    width: 1025px;
    margin-left: -65px;
    height: 145px;
    margin-top: -67px;
    border: 0;
    background-color: white;
    font-size: 170px;
    color: black;
    text-align: end;
}